{% set user = pillar['user']  %}

{% set packages = salt['grains.filter_by']({
    'Debian': {
        'ack': 'ack-grep',
        'ag': 'silversearcher-ag',
        'ctags':'exuberant-ctags',
    },
    'MacOS': {
        'ack': 'ack',
        'ag': 'the_silver_searcher',
        'ctags':'ctags',
    },
}, default='Debian') %}

{% set info = salt['grains.filter_by']({
    'Debian': {
        'user_home_path': '/home/' + user,
    },
    'MacOS': {
        'user_home_path': '/Users/' + user,
    },
}, default='Debian') %}
