{% set user = salt['pillar.get']('box_user')  %}
{% set user_home_path = salt['user.info'](user)['home']  %}

{% set packages = salt['grains.filter_by']({
    'Debian': {
        'ack': 'ack-grep',
        'ag': 'silversearcher-ag',
        'ctags':'exuberant-ctags',
    },
    'MacOS': {
        'ack': 'ack',
        'ag': 'the_silver_searcher',
        'ctags':'ctags',
    },
}, default='Debian') %}
